@{
    ViewData["Title"] = "Actividad en clase";
}

<div class="text-center">
    <h1 class="display-4">Nombre: Juan Diego Silva</h1>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>
        Ingenieria de software
    </title></head>
    <body></body>
</html>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

  }